 * {
    margin: 0;
    padding: 0;
}

body {


    background-image: url("Instagram-survey-logo\ \(1\).webp");
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;




}

.container {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 1555px;



}

.heading {
    text-align: center;
    font-size: 3rem;
    color: black;
}

.blank {
    /* color:white; */
    width: 90vh;
    height: 3vh;
    font-family: 'Arial Narrow', Arial, sans-serif;

}

.blanksuggestion {
    width: 643px;
    height: 178px;
}

.form {
    color: white;
    background-color: rgb(0, 10, 20);
    padding: 20px 20px;
    margin: 50px 350px;
    width: 7%;
    height: 50%;
    align-items: center;
    font-size: 30px;
    overflow: hidden;
}

.option {
    color: gray;
}


.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}
@media (max-width: 768px){
 
    
    .heading {
        font-size: 1.9rem;
       padding-right: 40%;

    }
    .form{
        font-size: 200%;
        margin-left:8%;
    }
  

  

}


@media (max-width:500px) {

    .heading h1{
        font-size: 1.9rem;
       padding-right: 45%;

    }
    .heading p{
        font-size: 1.9rem;
       padding-right: 15%;

    }
    .form{
        width:14px;
        font-size: 180%;
        margin-left:3%;
        
    }





}







    

